.led-marquee {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
  position: fixed;
  top: 0; /* Ensure it's at the very top */
  left: 0; /* Align to the left */
  transform: none; /* Remove unnecessary translation */
  z-index: 10000999;
  text-align: center;
  border: 0px solid #000000;
  background-color: white;
  display: flex;
}
  
  
  .led-text {
    position: absolute;
    white-space: nowrap;
    font-size: 1.5em;
    animation: slideLeft 30s linear infinite;
  }
  
  .led-text span {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    padding-top: 5px;
   
  }
  .led-text:hover {
    animation-play-state: paused;
  }
  
  @keyframes slideLeft {  
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }

  