<div class="led-display-container d-flex align-items-center mb-3">
  <!-- Category label -->
  <span class="catname2 p-2 text-uppercase text-left d-inline-block">
    {{ category }}
  </span>

  <!-- Partner image; the [src] will be updated with the URL from Firebase Storage -->
  <img class="img-fluid ml-3 mr-2" [src]="partnerImage" alt="Partner Image" style="width: 35px;">


  <!-- Ticker area -->
  <div class="ticker-container p-2" style="background: none;">
    <div class="ticker-content">
      <ng-container *ngFor="let item of tickerItems">
        <i class="far fa-compass ml-5 mr-2"></i>
        <a [href]="item.link" target="_blank">{{ item.text }}</a>
      </ng-container>
    </div>
  </div>
</div>
