<aside class="sidebar">
    <nav>
        <ul>
            <li>🏠 Home</li>
            <li>📰 News</li>
            <li>📝 Blogs</li>
            <li>🏄🏻 Lifestyle</li>
            <li>📍 Destinations</li>
            <li>🏷️ Promotions</li>
        </ul>
    </nav>
    <div class="join-us">
        <h3>Join Us</h3>
        <p>Join us be part of the creators.</p>
        <button class="contact-btn">Contact us</button>
    </div>
    <div class="side-footer">
        <button class="contact-btn1 top-left">Contact 1</button>
        <button class="contact-btn1 top-right">Contact 2</button>
        <button class="contact-btn1 bottom-left">Contact 3</button>
        <button class="contact-btn1 bottom-right">Contact 4</button>
    </div>
</aside>