.sidebar {
    width: 20%;
    padding: 20px 0;
    position: fixed;
    border: 1px solid #000000;
    border-top: none;
    border-left: none;
    height: 100%;
    margin-top: 50px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
}
.sidebar ul {
    list-style: none;
}

.sidebar ul{
    width: 100%;
    cursor: pointer;

} 
.sidebar ul li{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.2s;
}
.sidebar ul li:hover{
   background-color: #b1b1b1;
   border-radius: 10px;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}
.join-us {
    padding: 10px 20px 20px 10px;
    color: #6a6a6a;
    margin-top: 400px;
}
.contact-btn {
    background-color: rgba(255, 217, 0, 0.651);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.2s;
}
.contact-btn:hover {
    background-color: rgba(255, 217, 0, 0.735);
}

.side-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: auto; /* Автоматична височина според съдържанието */
    padding: 10px;
    border-top: 1px solid #F8F1E5;
    background-color: rgba(255, 255, 255, 0);
    color: #6a6a6a00;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колони */
    grid-template-rows: repeat(2, 1fr); /* Два реда */
    gap: 10px; /* Разстояние между бутоните */
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.contact-btn1 {
    background-color: rgba(255, 217, 0, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.2s, transform 0.1s;
    width: 100%; /* Прави бутоните еднакви по ширина */
}

.contact-btn:hover {
    background-color: rgba(255, 217, 0, 0.9);
    transform: scale(1.05);
}
