.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #ffffff;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    
}

.beta {
    font-size: 15px;
    color: gold;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.createBtn{
    background-color: gold;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}