/* General styles */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Registration container */
.registration-container {
    background-color: #FFF8E7;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Input fields */
input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

/* Focus effect on input fields */
input:focus {
    border-color: #FFC107;
}

/* Error messages */
.error {
    font-size: 12px;
    margin-bottom: 10px;
}

.error p {
    color: red;
    font-style: italic;
}

/* Submit Button */
button[type="submit"] {
    background-color: #FFC107;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e0a800;
}

button[type="submit"]:disabled {
    background-color: #E0A800;
    cursor: not-allowed;
}

/* Responsive improvements */
@media (max-width: 400px) {
    .registration-container {
        width: 90%;
        padding: 1.5rem;
    }

    input {
        font-size: 14px;
    }
}
