<div class="main-container">
    @if (categories.length > 0) {
      @for (category of categories; track category.tag) {
        <div class="category">
          <h2>{{ category.tag }}</h2>
          <div class="grid-container">
            @for (post of category.posts; track post.id) {
              <div class="grid-item">
                <img [src]="post.thumbnailUrl" alt="{{ post.title }}" loading="lazy" class="thumbnail">
                <div class="post-name">{{ post.title }}</div>
              </div>
            }
          </div>
        </div>
      }
    } @else if (isLoading) {
      <div class="loading-spinner">Loading...</div>
    } @else {
      <div class="no-data">No posts found.</div>
    }
  </div>